name: Release

on:
  release:
    types: [released]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: pip
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[build]
    - name: Build package
      run: hatch build
    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
